nodeRED-code/edf-v-1-0-0.json
[{"id":"b9d0aee24b050c5b","type":"group","z":"e4f4446fec79fc1a","name":"EDF FreePhase Dynamic","style":{"label":true,"stroke":"#ffC000","fill":"#ffefbf","color":"#000000"},"nodes":["3f46c3fb10b197ed","3d9ba0a78b6b8364"],"x":48,"y":33,"w":1064,"h":614},{"id":"3f46c3fb10b197ed","type":"group","z":"e4f4446fec79fc1a","g":"b9d0aee24b050c5b","name":"Half-Hourly update for current price from array and banding","style":{"label":true,"color":"#000000","stroke":"#ffC000"},"nodes":["70dbc331d4cce7f0","5c1b4f78a608064a","8a57812a5eefc49b","f672dcd9e50b6202","c2109847277002df","c210af4bfd87090d","cac8667d3b928fec","dde05a9f74531334","b1304d9200859b38","fe29a1a88960a194","3156bf2b52b88cec"],"x":74,"y":439,"w":1012,"h":182},{"id":"70dbc331d4cce7f0","type":"debug","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"periods left","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"edf.periodsleft","targetType":"msg","statusVal":"agile.periodsleft","statusType":"auto","x":730,"y":480,"wires":[]},{"id":"5c1b4f78a608064a","type":"ha-sensor","z":"e4f4446fec79fc1a","d":true,"g":"3f46c3fb10b197ed","name":"EDF Freephase Prices","entityConfig":"aae079ae9ada2a53","version":0,"state":"edf.now.from","stateType":"msg","attributes":[{"property":"array","value":"payload","valueType":"msg"},{"property":"price_now","value":"edf.now.price","valueType":"msg"},{"property":"price_next","value":"edf.next.price","valueType":"msg"},{"property":"periods_left","value":"edf.periodsleft","valueType":"msg"},{"property":"band_now","value":"edf.now.band","valueType":"msg"},{"property":"band_next","value":"edf.next.band","valueType":"msg"},{"property":"new_band_next","value":"edf.new_band.band","valueType":"msg"},{"property":"new_band_start","value":"edf.new_band.localfrom","valueType":"msg"},{"property":"new_band_end","value":"edf.new_band.localupto","valueType":"msg"},{"property":"new_band_price","value":"edf.new_band.price","valueType":"msg"},{"property":"bands","value":"bands.bands","valueType":"msg"},{"property":"blocks","value":"bands.blocks","valueType":"msg"},{"property":"prices","value":"bands.prices","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":880,"y":520,"wires":[[]],"server":""},{"id":"8a57812a5eefc49b","type":"change","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"Value Now","rules":[{"t":"set","p":"edf","pt":"msg","to":"(\t/* Jan 25 - deal gracefully with failed array update when past the last array entry time */\t/*        - return 'now' and zero left in array, so user needs to add error message flag */\t\t/* FUNCTION: add <delta> minutes to now */\t   $tstep:=function($mdelta) {\t       $fromMillis($toMillis($now())+$mdelta*60000)\t   };\t\t/* FUNCTION: build key value from timestamp. Strip fraction */\t/*     of seconds, floor minutes to 00 or 30, zero seconds  */\t   $keyis:=function($ts) {(\t           $t:=$replace($ts, /(\\.[0-9]+)/, '');\t           $m:=$substring($t,-6,2).$number()<30 ? '00': '30';\t           $substring($t,0,14) & $m & \":00\" & $substring($t,-1);\t           )\t   };\t\t/* return object with 'now' and 'next' value objects    */\t/* set a default 'null return' in case run out of array */\t    $empty:={\t        \"price\": 0,\t        \"from\": $now(),\t        \"upto\": $now() };\t    \t    $result:={\"now\": $empty, \"next\": $empty};\t    $p:=payload;\t    $b:=bands;\t\t    $keyNow:=$keyis($now());\t    $keyNext:=$keyis($tstep(30));\t\t    $result~>|$|{        \t       \"now\": $p[from=$keyNow],\t       \"next\": $p[from=$keyNext],\t       \"periodsleft\": $count($p[from>$keyNext]),\t       \"new_band\": $b.blocks[from>$now()][0]\t       }|;\t\t\t\t\t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload~>|$|{},[\"date\",\"localupto\",\"isofrom\", \"isoupto\"]|","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":520,"wires":[["5c1b4f78a608064a","70dbc331d4cce7f0","cac8667d3b928fec"]]},{"id":"f672dcd9e50b6202","type":"change","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"Read Array & Bands","rules":[{"t":"set","p":"payload","pt":"msg","to":"edfAgileTariff","tot":"flow","dc":true},{"t":"set","p":"bands","pt":"msg","to":"edfBands","tot":"flow","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":520,"wires":[["8a57812a5eefc49b"]]},{"id":"c2109847277002df","type":"inject","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"At Half Hour","props":[{"p":"payload"}],"repeat":"","crontab":"*/30 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["c210af4bfd87090d"]]},{"id":"c210af4bfd87090d","type":"delay","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"25s","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":170,"y":520,"wires":[["f672dcd9e50b6202"]]},{"id":"cac8667d3b928fec","type":"switch","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"Periods Left <=20","property":"edf.periodsleft","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":510,"y":580,"wires":[["fe29a1a88960a194"]]},{"id":"dde05a9f74531334","type":"link out","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"Call Update","mode":"link","links":["bdb41b6f9debe0bb"],"x":1045,"y":580,"wires":[]},{"id":"b1304d9200859b38","type":"delay","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"Once per hour - prevent looping","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":870,"y":580,"wires":[["dde05a9f74531334"]]},{"id":"fe29a1a88960a194","type":"function","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"MT","func":"\nreturn {};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":580,"wires":[["b1304d9200859b38"]]},{"id":"3156bf2b52b88cec","type":"link in","z":"e4f4446fec79fc1a","g":"3f46c3fb10b197ed","name":"Refresh","links":["caefec3e31b9bc0f"],"x":205,"y":560,"wires":[["f672dcd9e50b6202"]]},{"id":"aae079ae9ada2a53","type":"ha-entity-config","d":true,"server":"","deviceConfig":"","name":"SC edf FreePhase","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"EDF freephase prices"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3d9ba0a78b6b8364","type":"group","z":"e4f4446fec79fc1a","g":"b9d0aee24b050c5b","name":"Read tariffs - build and save 2-day tariff array to context","style":{"label":true,"color":"#000000","stroke":"#ffC000"},"nodes":["b39de8ca79e3b18c","8bd77f245bd546e5","bdb41b6f9debe0bb","699f5b5f3f2bad6d","96517da233bac192","f06d1c116be10b86","8ad36d68c5054a7d","7596d602c44934aa","261e5cd813195ad3","d94c3081aac4eaca","e4c50a2eee3c8e6a","16d1b9605da9d069","90123cf896d4504b","239dd5d4b60f8b94","7c993936f2d0e8ef","cb4b6bcfdd04eca0","819ab4448d7c8db8","88da6676e5bd3775","8147ea1d851ea825","4d32f0afaa518ad2","d066a4e68163df9a","fd4665a5d5d4a535","13412bad16434021","52a1923fcd4e2d52","e6dc51244d7789ba","a41fd9b82aa3872e","697808a4d94c08a9","611610d75002e020","ecedc783a487b050","6aa269b080d0133d","9271edaf5b92b2dc","7374382c612a174e","b5745bf767b991a1","f1375d68db5b35a1","dee54026419386c8","caefec3e31b9bc0f"],"x":74,"y":59,"w":1012,"h":362},{"id":"b39de8ca79e3b18c","type":"inject","z":"e4f4446fec79fc1a","d":true,"g":"3d9ba0a78b6b8364","name":"@ 16:05","props":[{"p":"payload"}],"repeat":"","crontab":"05 16 * * *","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["96517da233bac192"]]},{"id":"8bd77f245bd546e5","type":"comment","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"EDF FreePhase Prices v1.0.0 Dec 2025","info":"Lift a copy from existing Octopus Agile code:\n- keep only the prices array code\n- hard code the EDF API base URL\n- set parameters just for import, disable all export nodes\n- adjust all used \"Oct\"+ context variable names to \"edf\"+\n- modify product checking to just take \"FREEPHASE\" products\n\n- adjust for a new HA sensor with edf names\n- add code to provide today/tommorrow RAG pricing banding\n\n\n","x":470,"y":100,"wires":[]},{"id":"bdb41b6f9debe0bb","type":"link in","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Call Update","links":["dde05a9f74531334"],"x":265,"y":180,"wires":[["96517da233bac192"]]},{"id":"699f5b5f3f2bad6d","type":"inject","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"At Start (20s)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":200,"y":120,"wires":[["96517da233bac192"]]},{"id":"96517da233bac192","type":"junction","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","x":320,"y":160,"wires":[["8ad36d68c5054a7d"]]},{"id":"f06d1c116be10b86","type":"http request","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"I-Product","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.edfgb-kraken.energy/v1/products/{{{tariff.import.product}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":320,"y":340,"wires":[["fd4665a5d5d4a535"]]},{"id":"8ad36d68c5054a7d","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Tariff","rules":[{"t":"set","p":"tariff","pt":"msg","to":"{\"region\":\"L\",\"mode\":\"import\",\"import\":{\"product\":\"EDF_FREEPHASE_DYNAMIC_12M_HH\",\"tariff\":\"E-1R-EDF_FREEPHASE_DYNAMIC_12M_HH-L\"},\"export\":{\"product\":\"\",\"tariff\":\"\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["7596d602c44934aa"]]},{"id":"7596d602c44934aa","type":"switch","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Mode","property":"tariff.mode","propertyType":"msg","rules":[{"t":"neq","v":"export","vt":"str"},{"t":"neq","v":"import","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":160,"wires":[["261e5cd813195ad3"],["d94c3081aac4eaca"]]},{"id":"261e5cd813195ad3","type":"http request","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"EDF Import","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.edfgb-kraken.energy/v1/products/{{{tariff.import.product}}}/electricity-tariffs/{{{tariff.import.tariff}}}/standard-unit-rates/?page_size=96","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":650,"y":140,"wires":[["16d1b9605da9d069"]]},{"id":"d94c3081aac4eaca","type":"http request","z":"e4f4446fec79fc1a","d":true,"g":"3d9ba0a78b6b8364","name":"EDF Export","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.edfgb-kraken.energy/v1/products/{{{tariff.export.product}}}/electricity-tariffs/{{{tariff.export.tariff}}}/standard-unit-rates/?page_size=96","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":650,"y":180,"wires":[["90123cf896d4504b"]]},{"id":"e4c50a2eee3c8e6a","type":"debug","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"CHECK","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"\"I-\" & payload.import & \" E-\" & payload.export","statusType":"jsonata","x":580,"y":260,"wires":[]},{"id":"16d1b9605da9d069","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    $r:={\"status\": statusCode,\t    \"product\": $substringBefore($substringAfter(responseUrl, \"products/\"),\"/\"),\t    \"tariffs\": $substringBefore($substringAfter(responseUrl, \"tariffs/\"),\"/\"),\t    \"results\": $distinct(payload.results)};\t    \t    $xdate:=$r.results[0].valid_to;\t    $spans:=($toMillis($xdate) - $toMillis($r.results[-1].valid_from))/1800000;\t    $r~>|$|{\t        \"count\": $count(results),\t        \"spans\": $spans,\t        \"udate\": $xdate,\t        \"hours\": $floor(($toMillis($xdate)-$millis())/3600000)       \t        }|;\t\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"import","tot":"str"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":140,"wires":[["239dd5d4b60f8b94"]]},{"id":"90123cf896d4504b","type":"change","z":"e4f4446fec79fc1a","d":true,"g":"3d9ba0a78b6b8364","name":"Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    $r:={\"status\": statusCode,\t    \"product\": $substringBefore($substringAfter(responseUrl, \"products/\"),\"/\"),\t    \"tariffs\": $substringBefore($substringAfter(responseUrl, \"tariffs/\"),\"/\"),\t    \"results\": $distinct(payload.results)};\t    \t    $xdate:=$r.results[0].valid_to;\t    $spans:=($toMillis($xdate) - $toMillis($r.results[-1].valid_from))/1800000;\t    $r~>|$|{\t        \"count\": $count(results),\t        \"spans\": $spans,\t        \"udate\": $xdate,\t        \"hours\": $floor(($toMillis($xdate)-$millis())/3600000)       \t        }|;\t\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"export","tot":"str"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":180,"wires":[["239dd5d4b60f8b94"]]},{"id":"239dd5d4b60f8b94","type":"join","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Add (3s)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":940,"y":160,"wires":[["6aa269b080d0133d"]]},{"id":"7c993936f2d0e8ef","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"UK DST","rules":[{"t":"set","p":"dst","pt":"msg","to":"edfDST","tot":"flow","dc":true},{"t":"set","p":"dst","pt":"msg","to":"(\t/* Jan 2024: For UK only - calculate DST dates (GMT->BST, BST->GMT) */\t/*           fix bug for new year change, return day of week        */\t\t/*  $now() is evaluated once only and used throughout the expression */\t    $nw:=$now();\t\t/* FUNCTION: return day of week (DOW) given 'yyyy-mm-dd' where SUN=0 */\t    $dayofweek:=function($date) {(\t        $y:=$number($substring($date,0,4));\t        $m:=$number($substring($date,5,2));\t        $d:=$number($substring($date,8,2));\t        $m<3 ? $y:=$y-1;\t        $t:=[0,3,2,5,0,3,5,1,4,6,2,4];\t        ($y + $floor($y/4) - $floor($y/100) + $floor($y/400) + $t[$m-1] +$d)%7;\t    )};\t\t/* FUNCTION: returm start and end DST timestamps for a given year yyyy (int) */\t    $dstdates:=function($year) {(\t        $mar:=$year & \"-03-\";\t        $oct:=$year & \"-10-\";\t        $dstrt:=$mar & (31-$dayofweek($mar & \"31\")  & \"T01:00:00.000Z\");\t        $dstop:=$oct & (31-$dayofweek($oct & \"31\")  & \"T01:00:00.000Z\");\t        $a:=$toMillis($dstrt);\t        $b:=$toMillis($dstop);\t        $n:=$toMillis($nw);\t        $mp:=($a+$b)/2;\t\t        {\"year\": $year,\t        \"timestamp\": $nw,\t        \"now\": $n,\t        \"doweek\": $dayofweek($nw),\t        \"DSTstart\": $dstrt,\t        \"on\": $a,\t        \"DSTstop\":  $dstop,\t        \"off\": $b,\t        \"DSToffset\": (1*60*60*1000),\t        \"midpoint\": $mp\t        }\t    )};\t\t/* read in from context - if does not exist or if year has changed, update */\t    $yearis:=$number($substringBefore($nw,\"-\"));\t    $dst:= $exists(dst) ? dst : $dstdates($yearis);\t    $dst:= $dst.year=$yearis ? $dst : $dstdates($yearis);\t\t/* update 'now' in record and decide if DST (GMT/BST), if 'close' to change */\t/* note which way it went/will go, and which timestamp to test against      */\t\t    $n:=$toMillis($nw);\t    $a:=$dst.on;\t    $b:=$dst.off;\t    $mp:=$dst.midpoint;\t\t    $tz:= $n<$a or $n>=$b ? \"GMT\" : \"BST\";\t    $close:=$min([$abs($n-$a), $abs($n-$b)])/3600000<=48;    /* test for 48 hours either side */\t    $GMTBST:=$n<$mp;\t\t    $tzfrom:= $close ? ($GMTBST ? \"GMT\" : \"BST\" ) : $tz;\t    $tzgoto:= $close ? ($GMTBST ? \"BST\" : \"GMT\" ) : $tz;\t\t    $update:={\t        \"timestamp\": $nw,\t        \"now\": $n,\t        \"doweek\": $dayofweek($nw),\t        \"TZnow\": $tz,\t        \"DSTon\": $tz=\"BST\",        \t        \"changing\": $close,\t        \"toDST\": $GMTBST,\t        \"TZfrom\": $tzfrom,\t        \"TZtobe\": $tzgoto,\t        \"testvalue\": $GMTBST ? $a:$b\t    };\t    $dst ~> | $ | $update |\t\t)","tot":"jsonata"},{"t":"set","p":"edfDST","pt":"flow","to":"dst","tot":"msg","dc":true},{"t":"set","p":"products","pt":"msg","to":"edfProducts","tot":"flow","dc":true},{"t":"set","p":"arrayend","pt":"msg","to":"(\t    /* look into existing context array and check how many hours are left */\t    $arrayends:=$flowContext(\"edfAgileTariff\")[-1].upto;\t    $exists($arrayends) ? $floor(($toMillis($arrayends)-$millis())/3600000) : 0;\t)\t","tot":"jsonata","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":220,"wires":[["cb4b6bcfdd04eca0"]]},{"id":"cb4b6bcfdd04eca0","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Prices - save UPDATE","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t/* create a merged array of import & export tariffs for each time period */\t/* use DST switching timestamps to also create 'local time' and DST flag */\t\t/* Jan 2025 - Import & Export are optional, set either value to '0' if not requested */\t/*          - expects 96 half-hour slots, will check each return but cannot recover  */\t/*          - cope better with update if eg import prices updated but export not yet */\t\t\t/* FUNCTION: extract date and time from ISO timestamp, first applying offset */\t    $parsets:=function($timestamp){(\t        $msec:=$toMillis($timestamp);\t        $utcdate:=$substringBefore($timestamp,\"T\");\t        $utctime:=$substringAfter($timestamp,\"T\");\t\t        $tz:= $changing ? ($msec<$test ? $tzfrom : $tznext) : $tzfrom;\t        $add:= $tz=\"GMT\" ? 0 : $offset;\t        $iso:= $tz=\"GMT\" ? \"+00:00\" : \"+01:00\";\t\t        $local:=$fromMillis($msec+$add);\t        $localdate:=$substringBefore($local,\"T\");\t        $localtime:=$substringAfter($local,\"T\");\t        $isotime:=$substring($localtime,0,11);\t        {\"millisec\": $msec,\t        \"utcdate\": $utcdate,\t        \"utctime\": $substring($utctime,0,5),\t        \"timezone\": $tz,\t        \"localdate\": $localdate,\t        \"localtime\": $substring($localtime,0,5),\t        \"localiso\": $localdate & \"T\" & $isotime & $iso\t        }\t\t    )};\t\t    $changing:=dst.changing;\t    $fromGMT:=dst.toDST;   \t    $tzfrom:= dst.TZfrom;\t    $tznext:= dst.TZtobe;\t    $test:= dst.testvalue;\t    $offset:=dst.DSToffset;\t\t    $import:=payload.import;\t    $export:=payload.export;\t    $mode:=tariff.mode;\t\t    $arrayends:= $exists(arrayend) ? arrayend : 0;\t\t/* for import/export, test 1.requested, 2.exists, 3.=48 hours, and 4.updated    */\t/* '--' = not requested                                                         */\t/* 'ER' = does not exist, not 96 items, not 48 hours from start to finish       */\t/* 'MT' = has not yet been updated, last entry should be into tomorrow          */\t/* 'OK' = correct - will only update the array if one/both either '--' or 'OK'  */\t\t    $impis:=$mode=\"export\" ? \"--\" : $not($exists($import) and $import.count=96 and $import.spans=96) ? \"ER\" : $import.hours<12 and $import.hours = $arrayends ? \"MT\" : \"OK\";\t    $expis:=$mode=\"import\" ? \"--\" : $not($exists($export) and $export.count=96 and $export.spans=96) ? \"ER\" : $export.hours<12 and $export.hours = $arrayends ? \"MT\" : \"OK\";\t    $iudate:=$import.udate;\t    $eudate:=$export.udate;    \t    $match:=$not($exists($import) and $exists($export) and $iudate!=$eudate);\t    $success:=$not(\"ER\" in [$impis, $expis] or \"MT\" in [$impis, $expis]);\t\t/* create an array of 96 merged prices, unrequested, missing or invalid arrays replaced with zeros */\t\t    $ai:= $impis=\"OK\" ? $import.results.{\"import\": value_inc_vat, \"export\": 0, \"from\": valid_from, \"upto\": valid_to} : [1..96].{\"import\": 0};\t    $ae:= $expis=\"OK\" ? $export.results.{\"export\": value_inc_vat, \"from\": valid_from, \"upto\": valid_to} : [1..96].{\"export\": 0};\t\t    $array:=$zip($ai, $ae).($merge($))^(from);\t\t/* add in the local date & time */\t\t    $array:=$array ~> |*|(\t        $from:=$parsets(from);\t        $upto:=$parsets(upto);       \t        {\"date\":$from.utcdate,\t         \"timefrom\": $from.utctime,\t         \"timeupto\": $upto.utctime,\t         \"localdate\": $from.localdate,\t         \"localfrom\": $from.localtime & \" \" & $from.timezone,\t         \"localupto\": $upto.localtime & \" \" & $upto.timezone,\t         \"dstchange\": $from.timezone != $upto.timezone,\t         \"isofrom\": $from.localiso,\t         \"isoupto\": $upto.localiso} )|;\t\t/* check product used against the latest list */\t    $pstatus:=function($mode){(\t        $exists($mode.product) ? $mode.product in products.latest.code ? \"latest\" : \"not the latest product\" : \"----\"\t    )};\t\t    {\"update\": $now(),\t     \"import\": $impis,\t     \"export\": $expis,\t     \"match\": $match,\t     \"success\": $success,\t     \"afrom\": $array[0].from,\t     \"aupto\": $array[-1].upto,\t     \"iupto\": $iudate,\t     \"eupto\": $eudate,\t     \"aleft\": $arrayends,     \t     \"hours\": $max([$import.hours, $export.hours]),\t     \"hleft\": $min([$import.hours, $export.hours]),\t     \"iprod\": $pstatus($import),\t     \"eprod\": $pstatus($export),\t     \"array\": $array};\t\t\t)","tot":"jsonata"},{"t":"set","p":"edfUpdate","pt":"flow","to":"payload~>|$|{}, ['array']|","tot":"jsonata","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":260,"wires":[["b5745bf767b991a1","819ab4448d7c8db8"]]},{"id":"819ab4448d7c8db8","type":"switch","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Weekly","property":"tariff","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"/* update on a sunday - day of week =0 */\t$not($exists(products)) or dst.doweek=0","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":300,"wires":[["88da6676e5bd3775"]]},{"id":"88da6676e5bd3775","type":"http request","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"All Agile","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.edfgb-kraken.energy/v1/products/?is_variable=true","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":320,"y":300,"wires":[["8147ea1d851ea825"]]},{"id":"8147ea1d851ea825","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"List","rules":[{"t":"set","p":"current","pt":"msg","to":"(\t    payload.results[$contains(code, \"FREEPHASE\")].(\t        {\"mode\": direction,\t        \"code\": code,\t        \"term\": term,\t        \"brand\": brand,\t        \"from\": available_from,\t        \"upto\": available_to,\t        \"link\": links.href} );\t        \t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["4d32f0afaa518ad2"]]},{"id":"4d32f0afaa518ad2","type":"switch","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Mode","property":"tariff.mode","propertyType":"msg","rules":[{"t":"neq","v":"export","vt":"str"},{"t":"neq","v":"import","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":340,"wires":[["f06d1c116be10b86"],["d066a4e68163df9a"]]},{"id":"d066a4e68163df9a","type":"http request","z":"e4f4446fec79fc1a","d":true,"g":"3d9ba0a78b6b8364","name":"E-Product","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.edfgb-kraken.energy/v1/products/{{{tariff.export.product}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":320,"y":380,"wires":[["52a1923fcd4e2d52"]]},{"id":"fd4665a5d5d4a535","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Info","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t\t    $region:=tariff.region;\t    $p:=payload;\t    $r:=$p.single_register_electricity_tariffs;\t    $d:=$lookup($r, \"_\" & $region).direct_debit_monthly;\t\t    $end:=$p.available_to;\t    $end:= $end = null ? \"no-end\" : $toMillis($end)-$millis() > 0 ? \"sunset\" : \"closed\";\t\t    {\"code\": $p.code,\t     \"name\": $p.full_name,\t     \"term\": $p.term,\t     \"from\": $p.available_from,\t     \"upto\": $p.available_to,\t     \"sale\": $end,\t     \"brand\": $p.brand,\t     \"region\": $region,\t     \"list\": $keys($r).$replace(\"_\",\"\")~>$join(\",\"),\t     \"rcode\": $d.code,\t     \"standing\": $d.standing_charge_inc_vat,\t     \"unitrate\": $d.standard_unit_rate_inc_vat\t    };\t\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"import","tot":"str"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["e6dc51244d7789ba"]]},{"id":"13412bad16434021","type":"debug","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Array Update Ends","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"$exists(payload.aupto) ? payload.aupto : \"no array update\"","statusType":"jsonata","x":750,"y":260,"wires":[]},{"id":"52a1923fcd4e2d52","type":"change","z":"e4f4446fec79fc1a","d":true,"g":"3d9ba0a78b6b8364","name":"Info","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t\t    $region:=tariff.region;\t    $p:=payload;\t    $r:=$p.single_register_electricity_tariffs;\t    $d:=$lookup($r, \"_\" & $region).direct_debit_monthly;\t\t    $end:=$p.available_to;\t    $end:= $end = null ? \"no-end\" : $toMillis($end)-$millis() > 0 ? \"sunset\" : \"closed\";\t\t    {\"code\": $p.code,\t     \"name\": $p.full_name,\t     \"term\": $p.term,\t     \"from\": $p.available_from,\t     \"upto\": $p.available_to,\t     \"sale\": $end,\t     \"brand\": $p.brand,\t     \"region\": $region,\t     \"list\": $keys($r).$replace(\"_\",\"\")~>$join(\",\"),\t     \"rcode\": $d.code,\t     \"standing\": $d.standing_charge_inc_vat,\t     \"unitrate\": $d.standard_unit_rate_inc_vat\t    };\t\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"export","tot":"str"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["e6dc51244d7789ba"]]},{"id":"e6dc51244d7789ba","type":"join","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Add (3s)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":600,"y":380,"wires":[["a41fd9b82aa3872e"]]},{"id":"a41fd9b82aa3872e","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Write PRODUCTS","rules":[{"t":"set","p":"edfProducts","pt":"flow","to":"{\"updated\": $now(),\t \"import\": payload.import,\t \"export\": payload.export,\t \"latest\": current}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":380,"wires":[["697808a4d94c08a9","611610d75002e020"]]},{"id":"697808a4d94c08a9","type":"debug","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Imp product","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload.import.sale","statusType":"msg","x":970,"y":320,"wires":[]},{"id":"611610d75002e020","type":"debug","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Exp Product","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload.export.sale","statusType":"msg","x":970,"y":380,"wires":[]},{"id":"ecedc783a487b050","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"ARRAY & Bands","rules":[{"t":"set","p":"edfAgileTariff","pt":"flow","to":"payload.array","tot":"msg","dc":true},{"t":"set","p":"edfBands","pt":"flow","to":"{\"bands\": payload.bands, \"blocks\": payload.blocks, \"prices\": payload.prices}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["dee54026419386c8"]]},{"id":"6aa269b080d0133d","type":"link out","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"process API","mode":"link","links":["9271edaf5b92b2dc"],"x":1045,"y":160,"wires":[]},{"id":"9271edaf5b92b2dc","type":"link in","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"process API","links":["6aa269b080d0133d"],"x":125,"y":220,"wires":[["7c993936f2d0e8ef"]]},{"id":"7374382c612a174e","type":"switch","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Write?","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":450,"y":220,"wires":[["f1375d68db5b35a1"]]},{"id":"b5745bf767b991a1","type":"junction","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","x":380,"y":260,"wires":[["7374382c612a174e","e4c50a2eee3c8e6a","13412bad16434021"]]},{"id":"f1375d68db5b35a1","type":"change","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Bands","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    /* update price array with RAG band, old/new block, band start/middle/end */\t\t    $p:=payload;\t    $array:=$p.array;\t\t    /* $split:=$substringBefore($p.update,\"T\") & \"T\" & $substringAfter($p.aupto,\"T\"); */\t    $a:=$toMillis($p.afrom);\t    $b:=$toMillis($p.aupto);\t    $c:=$fromMillis($a+ ($b-$a)/2);\t    $split:=$substringBefore($c, \".\") & \"Z\";\t\t    $todp:=$distinct($array[from<$split].import)^($);\t    $tomp:=$distinct($array[from>=$split].import)^($);\t\t    $array:=$array~>|$|(\t        $old:=from<$split;\t        $med:= $old ? $todp[1] : $tomp[1];\t        {\"price\": import, \"set\": $old ? \"old\":\"new\",\t        \"band\": import<$med ? \"G\" : import>$med ? \"R\" : \"A\"\t        }),[\"import\", \"export\"]|;\t    \t    $len:=$count($array)-1;\t    $array:=$array#$i.(\t        $this:=$.band;\t        $last:= $i>0 ? $array[$i-1].band : \" \";\t        $next:= $i<$len ? $array[$i+1].band : \" \";\t        $merge([$, {\"index\": $i, \"position\": $this!=$last ? \"start\" : $this!=$next ? \"end\" : \"middle\"}])\t        );\t\t    /* create array of bands with position, band, price and index etc */\t    $bands:=$array[position!=\"middle\"].{\t        \"price\": price,\t        \"set\": set,\t        \"band\": band,\t        \"index\": index,\t        \"position\": position,\t        \"date\": localdate,\t        \"from\": localfrom,\t        \"upto\": localupto};\t\t\t    /* get start end indexes, zip into a sequence array of [start, end]  */\t    /* map to an array of objects, one for each sequence to include      */\t    /* index range, date, start time, stop time, count, duration & price */\t\t    $chain:=$zip($bands[position=\"start\"].index, $bands[position=\"end\"].index);\t    $blocks:=$map($chain, function($item, $ind){(\t        $a:=$item[0]; $b:=$item[1];\t        $aa:=$array[$a]; $bb:=$array[$b];\t        $count:=$b-$a+1;\t        {\t        \"sequence\": $ind+1,\t        \"price\": $aa.price,\t        \"band\": $aa.band,\t        \"from\": $aa.from,\t        \"upto\":  $bb.upto,\t        \"datefrom\": $aa.date,\t        \"dateupto\": $bb.date,\t        \"timefrom\": $aa.timefrom,\t        \"timeupto\": $bb.timeupto,\t        \"localfrom\": $aa.localfrom,\t        \"localupto\": $bb.localupto,\t        \"isofrom\": $aa.isofrom,\t        \"isoupto\": $bb.isoupto,\t        \"periods\": $count,\t        \"duration\": $count*30}\t    )});\t\t\t    /* get band prices for today/tomorrow and compare */\t    $pick:=function($acc, $val){(\t        $append($acc, $val);\t        $val.band in $acc[set=$val.set].band ? $acc : $append($acc, $val);\t        )};\t\t    $x:=$reduce($bands[position=\"end\"], $pick)^(>set,price);\t\t    $prices:=$x[set=\"new\"].(\t        $b:=band;\t        $n:=price;\t        $o:=$x[set=\"old\" and band=$b].price;\t        {\"band\": $b, \"old\": $o, \"new\": $n, \"change\": $round(100*$n/$o)}\t    );\t\t    payload~>|$|{\"array\": $array, \"bands\": $bands, \"blocks\": $blocks, \"prices\": $prices}|;\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["ecedc783a487b050"]]},{"id":"dee54026419386c8","type":"function","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"MT","func":"\nreturn {};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":220,"wires":[["caefec3e31b9bc0f"]]},{"id":"caefec3e31b9bc0f","type":"link out","z":"e4f4446fec79fc1a","g":"3d9ba0a78b6b8364","name":"Refresh","mode":"link","links":["3156bf2b52b88cec"],"x":995,"y":220,"wires":[]},{"id":"f4f582fecbb28525","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.78.2"}}]